## Practice Data Wrangling

![](https://iili.io/3S2kRyu.png)

## Pandas


Pandas is a Python library extensively used for data analysis and manipulation. It provides data structures like DataFrames, which are similar to tables, and Series, which are like lists or columns in a table. These structures allow for efficient handling and processing of structured data. Pandas is built on top of NumPy and integrates well with other scientific computing libraries. It simplifies tasks such as data cleaning, transformation, and analysis, making it a fundamental tool for data scientists and analysts.

### Installing and Importing Pandas

Installing Pandas
```
pip install pandas
```

In [5]:
!pip install pandas

Requirement already satisfied: pandas in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

importing pandas

In [2]:
## pd is widely used alias for pandas
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)

### Creating Series and Pandas Data Frame

#### 1. Creating Series
 A Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a spreadsheet or a SQL table. The labels for the Series are collectively known as the index. A Series can be created from a variety of data types, including lists, dictionaries, and NumPy arrays.

In [16]:
### Ex-1-Task-1

s = None 
a = [1, 2, 3, 4, 5, 6]
# Task: create a series using list 
### BEGIN SOLUTION 
# YOUR CODE HERE
pd.Series(a)
#raise NotImplementedError() 
### END SOLUTION

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [18]:
### Ex-1-Task-2
a = {
    'a': 80,
    'b': 90,
    'c': 100
}
s = None 
## Task: Create a series using dictionary

### BEGIN SOLUTION 
# YOUR CODE HERE
pd.Series(a)
### END SOLUTION

a     80
b     90
c    100
dtype: int64

In [19]:
### Ex-1-Task-3
a = [1, 2, 3, 4, 5, 6]
a = np.array(a)
s = None
## Creating a series using numpy array
### BEGIN SOLUTION 
# YOUR CODE HERE
pd.Series(a)
### END SOLUTION

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [20]:
### Ex-1-Task-4
population = {
    'Nepal': 30000000,
    'India': 1463865525,
    'Pakistan':255219554,
    'China': 1416096094
}
s = None
## Create a series with name 'population' and dtyp ='int64' 
### BEGIN SOLUTION 
# YOUR CODE HERE
pd.Series(population)
### END SOLUTION

Nepal         30000000
India       1463865525
Pakistan     255219554
China       1416096094
dtype: int64

#### 2. Creating DataFrame

In [21]:
### Ex-2-Task-1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df = None 
# Creating Data Frame from Python List
### BEGIN SOLUTION 
# YOUR CODE HERE
pd.DataFrame(a)
### END SOLUTION

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [22]:
### Ex-2-Task-2
my_list = [['A', 1], ['B', 2], ['C', 3], ['D', 4]]
# Creating Data Frame from List of List
### BEGIN SOLUTION 
# YOUR CODE HERE
pd.DataFrame(my_list)
### END SOLUTION

   0  1
0  A  1
1  B  2
2  C  3
3  D  4

In [ ]:
### Ex-2-Task-3
my_data = {
    'country': ['Nepal', 'India', 'China'],
    'Population': [30000000, 1463865525, 1416096094]
}
df = None
# Creating Data Frame using Python Dictionary
### BEGIN SOLUTION 
# YOUR CODE HERE
pd.DataFrame(my_data)
### END SOLUTION

  country  Population
0   Nepal    30000000
1   India  1463865525
2   China  1416096094

## Data Loading and Inspection

### Reading Data
A simple way to store big data is to use CSV files (comma Seperated files) or Parquet Files. 
- df_sales --> computed_insight_success_of_active_sellers.csv'
- df_product --> summer-products-with-rating-and-performance_2020-08.csv

In [47]:
### Ex-3-Task-1
df_sales = None
df_product = None

# reading CSV file
### BEGIN SOLUTION 
# YOUR CODE HERE
pd.read_csv("/home/sandeep/data_wr/pandas/computed_insight_success_of_active_sellers (1).csv")
### END SOLUTION

,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

### Basic Inspection

In [57]:
### Ex-3-Task-2
head_df = None 
tail_df = None 
desribe_num_df = None
desribe_cate_df = None
# check the first 10 records of the sales dataframe 
# check the last 10 records of the product dataframe
## Check the description of the numerical and categorical columns of prodcut dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.read_csv("/home/sandeep/data_wr/pandas/computed_insight_success_of_active_sellers (1).csv")
pd.DataFrame(df)

df_first_10 = df.head(10)
print(df_first_10)

df_first_10 = df.tail(10)
print(df_first_10)

df_first_10 = df.describe()
#print(df_first_10)

### END SOLUTION

                 merchantid  listedproducts  totalunitssold  \
0  5357bcf2bb72c5504882e889               2          120000
1  5708773c3c02161b3f8c7900               5          107100
2  5417aada4ad3ab27e954b76c               2          100007
3  570f3a713a698c14278bb51e               1          100000
4  53082ea15aefb07dfe1f2a4f               1          100000
5  53f2beb39020ee03566d6e18               1          100000
6  5926c5ace8ff5525241b368d               7           96000
7  5860c757b1e41d4d67d183e8               4           90100
8  52bd3ddb34067e4620a4c62d               3           80000
9  5a7b23a69bda4e3d375e7b3f               5           80000

   meanunitssoldperproduct  rating  merchantratingscount  meanproductprices  \
0                  60000.0   4.219              320031.0               9.00
1                  21420.0   3.934              139223.0               7.76
2                  50004.0   4.053              108048.0               8.00
3                 100000.0   3.889               19248.0               5.67
4                 100000.0   4.036              366898.0               5.00
5                 100000.0   4.067              330405.0               5.77
6                  13714.0   4.139               55499.0               6.69
7                  22525.0   4.049              151249.0               3.43
8                  26667.0   4.104              839882.0               7.22
9                  16000.0   3.966               12974.0               8.40

   meanretailprices  averagediscount  meandiscount  meanproductratingscount  \
0             20.00             54.0         54.00                   8836.0
1             34.20             61.0         61.00                   4010.0
2              8.00             -1.0         -1.00                   5531.0
3             19.00             71.0         71.00                  18393.0
4             33.00             85.0         85.00                  13789.0
5             48.00             88.0         88.00                  20744.0
6              6.29             -4.0         -3.86                   2250.0
7              3.75             11.0         11.00                   6290.0
8             14.67             33.0         33.33                   6136.0
9              7.80             -7.0         -6.80                   2093.0

   totalurgencycount  urgencytextrate
0                1.0             50.0
1                3.0             60.0
2                NaN              NaN
3                1.0            100.0
4                NaN              NaN
5                NaN              NaN
6                1.0             14.0
7                2.0             50.0
8                1.0             33.0
9                1.0             20.0
                   merchantid  listedproducts  totalunitssold  \
948  574d559cb06e205d099d9107               1              10
949  5db248327c0d0800c24fc084               1              10
950  54365c349719cd57af2b449b               1               8
951  581c54c4dd99164b808ca531               1               7
952  564d8f2f3a698c01d97fbb81               1               3
953  567bad8582c35f28103e5813               1               2
954  5b24edf0d1c360301099e9c6               1               2
955  5d417e7070327a2743021677               1               1
956  5add589edb5f1f32114d07df               1               1
957  5d4b8931933fb13f8a1fe232               1               1

     meanunitssoldperproduct  rating  merchantratingscount  meanproductprices  \
948                     10.0   4.501                2038.0              18.00
949                     10.0   4.513                 160.0               5.68
950                      8.0   3.949               53225.0               7.00
951                      7.0   4.249                6348.0               8.00
952                      3.0   3.991               11378.0               4.81
953                      2.0   3.999               21307.0              11.00
954                      2.0   4.303                 693.0              16.00
955                      1.0   3.598                 378.0               2.72
956                      1.0   3.956                1134.0              14.00
957                      1.0   4.007                1380.0              11.00

     meanretailprices  averagediscount  meandiscount  meanproductratingscount  \
948              59.0             70.0          70.0                      6.0
949               5.0            -13.0         -13.0                      2.0
950              31.0             78.0          78.0                      0.0
951              55.0             86.0          86.0                      1.0
952              30.0             84.0          84.0                      0.0
953              10.0            -10.0         -10.0                      1.0
954              16.0              0.0           0.0                      0.0
955               9.0             70.0          70.0                      0.0
956              14.0              0.0           0.0                      0.0
957              30.0             64.0          64.0                      0.0

     totalurgencycount  urgencytextrate
948                NaN              NaN
949                NaN              NaN
950                NaN              NaN
951                NaN              NaN
952                NaN              NaN
953                NaN              NaN
954                NaN              NaN
955                NaN              NaN
956                NaN              NaN
957                NaN              NaN

In [62]:
### Ex-3-Task-3

# set merchant id as the index of the sales dataframe and check index
### BEGIN SOLUTION 
# YOUR CODE HERE
df.iloc[:,[0,2]]
### END SOLUTION

                   merchantid  totalunitssold
0    5357bcf2bb72c5504882e889          120000
1    5708773c3c02161b3f8c7900          107100
2    5417aada4ad3ab27e954b76c          100007
3    570f3a713a698c14278bb51e          100000
4    53082ea15aefb07dfe1f2a4f          100000
..                        ...             ...
953  567bad8582c35f28103e5813               2
954  5b24edf0d1c360301099e9c6               2
955  5d417e7070327a2743021677               1
956  5add589edb5f1f32114d07df               1
957  5d4b8931933fb13f8a1fe232               1

[958 rows x 2 columns]

In [98]:
### Ex-3-Task-4
sorted_df = None
## Sort the sales dataframe by rating in Ascending Order, if two records have same rating then sort in descending order by total unit sold
### BEGIN SOLUTION 
# YOUR CODE HERE
data = pd.read_csv("/home/sandeep/data_wr/pandas/computed_insight_success_of_active_sellers (1).csv")
pd.DataFrame(data)
data.sort_values(by=['rating','totalunitssold'],ascending=[True,False])

### END SOLUTION

,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
927,5e63469b2fdc774466e15dd5,1,10,10.0,2.333,3.0,5.75,5.0,-15.0,-15.0,0.0,NaN,NaN
704,5e8d923d20c9b7545017f1f9,1,100,100.0,2.941,17.0,11.00,50.0,78.0,78.0,9.0,NaN,NaN
705,5e6cb9806bab2075b2b64d15,1,100,100.0,3.000,3.0,12.00,11.0,-9.0,-9.0,1.0,NaN,NaN
706,5e8c98966642021100f8db13,1,100,100.0,3.034,29.0,12.00,75.0,84.0,84.0,28.0,NaN,NaN
707,5e537a4038654d5bb8db71b4,1,100,100.0,3.039,231.0,5.00,5.0,0.0,0.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,574d559cb06e205d099d9107,1,10,10.0,4.501,2038.0,18.00,59.0,70.0,70.0,6.0,NaN,NaN
949,5db248327c0d0800c24fc084,1,10,10.0,4.513,160.0,5.68,5.0,-13.0,-13.0,2.0,NaN,NaN
887,5b07dc937752c81ecb291b66,1,100,100.0,4.522,343.0,3.73,17.0,79.0,79.0,27.0,NaN,NaN
888,559f372b577ce1196ef7f66c,1,100,100.0,4.578,1032.0,8.00,47.0,83.0,83.0,110.0,NaN,NaN
889,5dab9ece69ce753090f6735c,1,100,100.0,5.000,0.0,7.00,6.0,-16.0,-16.0,0.0,NaN,NaN

In [101]:
### Ex-3-Task-5
portion_df = None
### Get the sorted dataframe for which rating is 4.041 and store in portion_df
### BEGIN SOLUTION 
# YOUR CODE HERE
data['rating'].sort_values()
### END SOLUTION

927    2.333
704    2.941
705    3.000
706    3.034
707    3.039
       ...
948    4.501
949    4.513
887    4.522
888    4.578
889    5.000
Name: rating, Length: 958, dtype: float64

### Data Types and Conversion

In [9]:
### Ex-4-Task-1

# the price of the product is upto 2 digit place. I want to convert it into int
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.read_csv("/home/sandeep/data_wr/pandas/computed_insight_success_of_active_sellers (1).csv")
df['meanproductprices'] = df['meanproductprices'].round().astype(int)
print(df[['meanproductprices']].head())
### END SOLUTION

   meanproductprices
0                  9
1                  8
2                  8
3                  6
4                  5

In [11]:
### Ex-4-Task-2
# The datatype of the craw_month is Object type. I want to convert it to data time format and store it in same columns
### BEGIN SOLUTION 
# YOUR CODE HERE
df['meanproductprices'] = pd.to_datetime(df['meanproductprices'], errors='coerce')
print(df[['meanproductprices']].dtypes)
print(df[['meanproductprices']].head())
### END SOLUTION

meanproductprices    datetime64[ns]
dtype: object
              meanproductprices
0 1970-01-01 00:00:00.000000009
1 1970-01-01 00:00:00.000000008
2 1970-01-01 00:00:00.000000008
3 1970-01-01 00:00:00.000000006
4 1970-01-01 00:00:00.000000005

## Data Selection and Filtering

### Selecting Columns and Rows

In [20]:
### Ex-5-Task-1
ser = None 

# Select a 'title' column from product dataframe and store in separate variables as series (ser)
### BEGIN SOLUTION 
# YOUR CODE HERE
product = pd.read_csv("/home/sandeep/data_wr/pandas/computed_insight_success_of_active_sellers (1).csv")
ser = product['meanproductprices']
print(type(ser))  # Should print: <class 'pandas.core.series.Series'>
### END SOLUTION

<class 'pandas.core.series.Series'>

In [29]:
### Ex-5-Task-2
product_price = None 
# Select multiple columns ('title', 'price', and 'retail price' ) from product dataframe and store in variable product_price.
### BEGIN SOLUTION 
# YOUR CODE HERE
product_price = product[['merchantid', 'meanproductprices', 'meanretailprices']]
print(product_price.head())
### END SOLUTION

                 merchantid  meanproductprices  meanretailprices
0  5357bcf2bb72c5504882e889               9.00              20.0
1  5708773c3c02161b3f8c7900               7.76              34.2
2  5417aada4ad3ab27e954b76c               8.00               8.0
3  570f3a713a698c14278bb51e               5.67              19.0
4  53082ea15aefb07dfe1f2a4f               5.00              33.0

### Selection by labels and Selection by position

In [34]:
### Ex-5-Task-3
single_data = None
## Select a data of title column and at index 1572 of product dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
single_data = product.loc[157, 'merchantid']  # or any valid index
print(single_data)

### END SOLUTION

5831ae002f5e534c0a485f06

In [35]:
### Ex-5-Task-4
single_data = None
## Select a data of 6th column and at  5tj row of product dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
data = product.iloc[4, 5]
print(data)
### END SOLUTION

366898.0

In [37]:
### Ex-5-Task-5
sliced_data = None 
## Select a portion of data frame with column name currency_buyer, units_sold, merchant_rating_count, merchant_rating and with index 100 to 200
### BEGIN SOLUTION 
# YOUR CODE HERE
subset = product.loc[100:200, ['totalunitssold', 'merchantratingscount', 'rating']]
print(subset)
### END SOLUTION

     totalunitssold  merchantratingscount  rating
100           20000               22089.0   4.082
101           20000               15006.0   4.084
102           20000              200089.0   4.097
103           20000                4107.0   4.097
104           20000               45964.0   4.097
..              ...                   ...     ...
196           10000              117487.0   4.088
197           10000               11264.0   4.101
198           10000                2399.0   4.105
199           10000               19436.0   4.109
200           10000               15502.0   4.115

[101 rows x 3 columns]

In [38]:
### Ex-5-Task-6
sliced_data = None 
## Select a portion of data frame with 3rd to 8th columns and with rows 100 to 200 
# it must only include 100 rows and 7 columns 
### BEGIN SOLUTION 
# YOUR CODE HERE
subset = product.iloc[100:200, 2:9]
print(subset)
### END SOLUTION

     totalunitssold  meanunitssoldperproduct  rating  merchantratingscount  \
100           20000                  20000.0   4.082               22089.0
101           20000                  20000.0   4.084               15006.0
102           20000                  20000.0   4.097              200089.0
103           20000                  20000.0   4.097                4107.0
104           20000                  20000.0   4.097               45964.0
..              ...                      ...     ...                   ...
195           10000                  10000.0   4.085                6651.0
196           10000                  10000.0   4.088              117487.0
197           10000                  10000.0   4.101               11264.0
198           10000                  10000.0   4.105                2399.0
199           10000                  10000.0   4.109               19436.0

     meanproductprices  meanretailprices  averagediscount
100               9.00               9.0              0.0
101               8.00              59.0             87.0
102              13.00              30.0             57.0
103              22.00              19.0            -15.0
104              13.00             252.0             95.0
..                 ...               ...              ...
195               8.00              22.0             64.0
196              12.00              13.0              8.0
197               7.00               6.0            -16.0
198               1.91               2.0              5.0
199              11.00              10.0            -10.0

[100 rows x 7 columns]

### Boolean Indexing and Conditional Filtering

In [40]:
### Ex-5-Task-7
mean = None
Q3 = None 
records = None 
# Find mean and 3rd quantile of the price from product dataframe and get all the records that lies between mean and Q3
### BEGIN SOLUTION 
# YOUR CODE HERE
mean_price = product['meanproductprices'].mean()
q3_price = product['meanproductprices'].quantile(0.75)

records = product[(product['meanproductprices'] > mean_price) & (product['meanproductprices'] <= q3_price)]
print(records)
### END SOLUTION

                   merchantid  listedproducts  totalunitssold  \
0    5357bcf2bb72c5504882e889               2          120000
13   56e43d9e3a698c3826a5feff               3           61000
15   53facca81c105e3d5866e212               3           60000
28   54bcaabb39b8c00b482a115f               1           50000
32   57e5db02e7f40f131adeeaf8               1           50000
..                        ...             ...             ...
923  5d676dae88a10253b1781da6               2              20
933  58d64937794a2b6db2f0394e               1              10
945  56025ed8293a5b2d24779bde               1              10
953  567bad8582c35f28103e5813               1               2
957  5d4b8931933fb13f8a1fe232               1               1

     meanunitssoldperproduct  rating  merchantratingscount  meanproductprices  \
0                    60000.0   4.219              320031.0               9.00
13                   20333.0   4.179               17816.0               8.67
15                   20000.0   4.157              402743.0               9.00
28                   50000.0   4.105               59198.0               9.00
32                   50000.0   4.302               37076.0               9.00
..                       ...     ...                   ...                ...
923                     10.0   3.691                 291.0               9.00
933                     10.0   3.873                 528.0              11.00
945                     10.0   4.295               22621.0              11.00
953                      2.0   3.999               21307.0              11.00
957                      1.0   4.007                1380.0              11.00

     meanretailprices  averagediscount  meandiscount  meanproductratingscount  \
0                20.0             54.0         54.00                   8836.0
13                8.0             -8.0         -8.00                   5086.0
15              114.0             58.0         57.67                   3986.0
28               81.0             89.0         89.00                   5359.0
32                8.0            -12.0        -12.00                  13198.0
..                ...              ...           ...                      ...
923              10.0             10.0         10.00                      0.0
933              70.0             85.0         85.00                      2.0
945              30.0             64.0         64.00                      0.0
953              10.0            -10.0        -10.00                      1.0
957              30.0             64.0         64.00                      0.0

     totalurgencycount  urgencytextrate
0                  1.0             50.0
13                 1.0             33.0
15                 1.0             33.0
28                 NaN              NaN
32                 NaN              NaN
..                 ...              ...
923                1.0             50.0
933                NaN              NaN
945                1.0            100.0
953                NaN              NaN
957                NaN              NaN

[205 rows x 13 columns]

In [51]:
### Ex-5-Task-8
summer_product = None 
## Find all the row in product dataframe containing 'summer' keyword in its title. Make sure the string is lower to get all the records. 
### BEGIN SOLUTION 
# YOUR CODE HERE
product = pd.read_csv("/home/sandeep/data_wr/pandas/summer-products-with-rating-and-performance_2020-08 (1).csv")


summer_product = product[product['title'].str.lower().str.contains('summer', na=False)]

print(summer_product)

### END SOLUTION

                                                  title  \
0     2020 Summer Vintage Flamingo Print  Pajamas Se...
1     SSHOUSE Summer Casual Sleeveless Soirée Party ...
3     Hot Summer Cool T-shirt pour les femmes Mode T...
14    2019 Summer Women's Fashion Nouvelle robe sans...
31    Sweet Beading Cami Débardeurs pour femmes Spag...
...                                                 ...
1545  Summer Fashion Cute " Dog Mom " Letter Printed...
1551  New Fashion Women's Summer Drawstring Pants  L...
1556  Summer Beach Safety Shorts Leggings Lady Leggi...
1562   Summer Women s Fashion Lace Up Tie Pants Plus...
1570  Nouveautés Hommes Siwmwear Beach-Shorts Hommes...

                                             title_orig  price  retail_price  \
0     2020 Summer Vintage Flamingo Print  Pajamas Se...  16.00            14
1      Women's Casual Summer Sleeveless Sexy Mini Dress   8.00            22
3     Hot Summer Cool T Shirt for Women Fashion Tops...   8.00             8
14    2019 Summer Women's Fashion New Sleeveless Pol...   2.00             2
31    Sweet Beading Cami Tank Tops for Women Spaghet...   5.65             6
...                                                 ...    ...           ...
1545  Summer Fashion  Cute " Dog  Mom " Letter Print...   9.00             8
1551  New Fashion Women's Summer Drawstring Pants  L...   7.00             6
1556  Summer Beach Safety Shorts Lady Leggings Pants...   7.00             6
1562   Summer Women s Fashion Lace Up Tie Pants Plus...   4.93             6
1570  New Men Siwmwear Beach-Shorts Men Summer Quick...   5.00            19

     currency_buyer  units_sold  uses_ad_boosts  rating  rating_count  \
0               EUR         100               0    3.76            54
1               EUR       20000               1    3.45          6135
3               EUR        5000               1    4.03           579
14              EUR       20000               1    3.65          2457
31              EUR        1000               1    4.37           217
...             ...         ...             ...     ...           ...
1545            EUR        5000               0    4.28          1120
1551            EUR         100               1    3.67            18
1556            EUR        1000               1    3.98           129
1562            EUR         100               0    3.77            47
1570            EUR         100               0    3.71            59

      rating_five_count  ...  merchant_rating_count  merchant_rating  \
0                  26.0  ...                    568         4.128521
1                2269.0  ...                  17752         3.899673
3                 295.0  ...                  23832         4.020435
14                984.0  ...                  55499         4.138885
31                137.0  ...                  44837         4.065905
...                 ...  ...                    ...              ...
1545              698.0  ...                  24564         3.928880
1551                7.0  ...                  12309         4.045170
1556               64.0  ...                    794         4.277078
1562               22.0  ...                  17752         3.899673
1570               24.0  ...                    210         3.961905

                   merchant_id  merchant_has_profile_picture  \
0     595097d6a26f6e070cb878d1                             0
1     56458aa03a698c35c9050988                             0
3     58cfdefdacb37b556efdff7c                             0
14    5926c5ace8ff5525241b368d                             0
31    54d30f53dc8ce133f79b434d                             0
...                        ...                           ...
1545  5763e55cc6053f5e70522ad7                             0
1551  5acaf29d5ebcfd72403106a8                             1
1556  58b7d6dd3c18975a18817d64                             0
1562  56458aa03a698c35c9050988                             0
1570  5b42da1bf64320209fc8da69                             0

                               merchant_profile_picture  \
0                                                   NaN
1                                                   NaN
3                                                   NaN
14                                                  NaN
31                                                  NaN
...                                                 ...
1545                                                NaN
1551  https://s3-us-west-1.amazonaws.com/sweeper-pro...
1556                                                NaN
1562                                                NaN
1570                                                NaN

                                          product_url  \
0     https://www.wish.com/c/5e9ae51d43d6a96e303acdb0
1     https://www.wish.com/c/58940d436a0d3d5da4e95a38
3     https://www.wish.com/c/5cedf17ad1d44c52c59e4aca
14    https://www.wish.com/c/5cc2ce18bc97595b6549fa14
31    https://www.wish.com/c/5c9ee457c233fd74ef4c8a84
...                                               ...
1545  https://www.wish.com/c/5c6ccaed29eb172d628bb404
1551  https://www.wish.com/c/5cc7b4c98b94871ee33b33b6
1556  https://www.wish.com/c/5cb1abbb53de5b5d80d22e2e
1562  https://www.wish.com/c/5d58daef3159a812b05933d2
1570  https://www.wish.com/c/5e74be96034d613d42b52dfe

                                        product_picture  \
0     https://contestimg.wish.com/api/webimage/5e9ae...
1     https://contestimg.wish.com/api/webimage/58940...
3     https://contestimg.wish.com/api/webimage/5cedf...
14    https://contestimg.wish.com/api/webimage/5cc2c...
31    https://contestimg.wish.com/api/webimage/5c9ee...
...                                                 ...
1545  https://contestimg.wish.com/api/webimage/5c6cc...
1551  https://contestimg.wish.com/api/webimage/5cc7b...
1556  https://contestimg.wish.com/api/webimage/5cb1a...
1562  https://contestimg.wish.com/api/webimage/5d58d...
1570  https://contestimg.wish.com/api/webimage/5e74b...

                    product_id   theme crawl_month
0     5e9ae51d43d6a96e303acdb0  summer     2020-08
1     58940d436a0d3d5da4e95a38  summer     2020-08
3     5cedf17ad1d44c52c59e4aca  summer     2020-08
14    5cc2ce18bc97595b6549fa14  summer     2020-08
31    5c9ee457c233fd74ef4c8a84  summer     2020-08
...                        ...     ...         ...
1545  5c6ccaed29eb172d628bb404  summer     2020-08
1551  5cc7b4c98b94871ee33b33b6  summer     2020-08
1556  5cb1abbb53de5b5d80d22e2e  summer     2020-08
1562  5d58daef3159a812b05933d2  summer     2020-08
1570  5e74be96034d613d42b52dfe  summer     2020-08

[294 rows x 43 columns]

## Handling Missing Data

In [52]:
### Ex-6-Task-1
count_na = None
# Count the number of null data in each columns
### BEGIN SOLUTION 
# YOUR CODE HERE
null_counts = product.isnull().sum()
print(null_counts)
### END SOLUTION

title                              0
title_orig                         0
price                              0
retail_price                       0
currency_buyer                     0
units_sold                         0
uses_ad_boosts                     0
rating                             0
rating_count                       0
rating_five_count                 45
rating_four_count                 45
rating_three_count                45
rating_two_count                  45
rating_one_count                  45
badges_count                       0
badge_local_product                0
badge_product_quality              0
badge_fast_shipping                0
tags                               0
product_color                     41
product_variation_size_id         14
product_variation_inventory        0
shipping_option_name               0
shipping_option_price              0
shipping_is_express                0
countries_shipped_to               0
inventory_total                    0
has_urgency_banner              1100
urgency_text                    1100
origin_country                    17
merchant_title                     0
merchant_name                      4
merchant_info_subtitle             1
merchant_rating_count              0
merchant_rating                    0
merchant_id                        0
merchant_has_profile_picture       0
merchant_profile_picture        1347
product_url                        0
product_picture                    0
product_id                         0
theme                              0
crawl_month                        0
dtype: int64

In [53]:
### Ex-6-Task-2

# Impute the  product color with maximum occur value as it is the categorical columns 
# Impute the rating five count by mean and rating four count by median of respective columns
### BEGIN SOLUTION 
# YOUR CODE HERE
# Impute product_color with the mode (most frequent value)
product['product_color'].fillna(product['product_color'].mode()[0], inplace=True)

# Impute rating_five_count with the mean
product['rating_five_count'].fillna(product['rating_five_count'].mean(), inplace=True)

# Impute rating_four_count with the median
product['rating_four_count'].fillna(product['rating_four_count'].median(), inplace=True)

# Optional: check if nulls are now handled
print(product[['product_color', 'rating_five_count', 'rating_four_count']].isnull().sum())
### END SOLUTION

product_color        0
rating_five_count    0
rating_four_count    0
dtype: int64

/tmp/ipykernel_3884/3602854586.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  product['product_color'].fillna(product['product_color'].mode()[0], inplace=True)
/tmp/ipykernel_3884/3602854586.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  product['rating_five_count'].fillna(product['rating_five_count'].mean(), inplace=True)
/tmp/ipykernel_3884/3602854586.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  product['rating_four_count'].fillna(product['rating_four_count'].median(), inplace=True)

## Data Cleaning

### Removing Duplicates

In [54]:
### Ex-7-Task-1
duplicate_count = None
df_drop_duplicate = None # store the data frame after removing duplicates 
# Count no. of duplicates value in product dataframe and drop all the duplicate values 
### BEGIN SOLUTION 
# YOUR CODE HERE
# Count number of duplicate rows
duplicate_count = product.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

# Drop duplicate rows
product.drop_duplicates(inplace=True)

# Confirm removal
print(f"Shape after dropping duplicates: {product.shape}")
### END SOLUTION

Number of duplicate rows: 34
Shape after dropping duplicates: (1539, 43)

## Data Transformation

### Applying Functions: Apply, map

In [63]:
### Ex-7-Task-2

#df_sales['total_profit'] = None
# Calculate the total profit using apply function in pandas and save in total_profit column
# Formulae: total_profit = (mean product price - mean retail price) * total units sold
### BEGIN SOLUTION 
# YOUR CODE HERE
### Ex-7-Task-2

# Remove rows with missing values in required columns to avoid errors
product = product.dropna(subset=['price', 'retail_price', 'units_sold'])

# Calculate total profit using apply and save to new column 'total_profit'
product['total_profit'] = product.apply(
    lambda row: (row['retail_price'] - row['price']) * row['units_sold'],
    axis=1
)

print(product[['price', 'retail_price', 'units_sold', 'total_profit']].head())
### END SOLUTION

   price  retail_price  units_sold  total_profit
0  16.00            14         100        -200.0
1   8.00            22       20000      280000.0
2   8.00            43         100        3500.0
3   8.00             8        5000           0.0
4   2.72             3         100          28.0

### Binning and Categorizing Data

In [65]:
### Ex-7-Task-3
#df_product['sales_category'] = None
# Divide the row into three category based on their units sold and save it into the sales_category column of produdct dataframe
# category are : low_sales, medium sales, and high sales 
### BEGIN SOLUTION 
# YOUR CODE HERE
# Calculate the quantiles to define boundaries
low_threshold = product['units_sold'].quantile(0.33)
high_threshold = product['units_sold'].quantile(0.66)

def categorize_sales(units):
    if units <= low_threshold:
        return 'low_sales'
    elif units <= high_threshold:
        return 'medium_sales'
    else:
        return 'high_sales'

# Apply the function to create the new column
product['sales_category'] = product['units_sold'].apply(categorize_sales)

print(product[['units_sold', 'sales_category']].head(10))
### END SOLUTION

   units_sold sales_category
0         100      low_sales
1       20000     high_sales
2         100      low_sales
3        5000     high_sales
4         100      low_sales
5          10      low_sales
6       50000     high_sales
7        1000   medium_sales
8         100      low_sales
9        5000     high_sales

## Data Aggregation and Grouping

### Groupby aggregation function

In [66]:
### Ex-8-Task-1

group_df = None 
# Create a group of low, medium and high sales and then calulcate, mean of price, median of retail price, min of units_sold and max of rating_five_count of each category
### BEGIN SOLUTION 
# YOUR CODE HERE
# Assuming product['sales_category'] is already created as before

grouped_stats = product.groupby('sales_category').agg({
    'price': 'mean',                 # mean of price
    'retail_price': 'median',       # median of retail_price
    'units_sold': 'min',            # min of units_sold
    'rating_five_count': 'max'      # max of rating_five_count
}).reset_index()

print(grouped_stats)
### END SOLUTION

  sales_category     price  retail_price  units_sold  rating_five_count
0     high_sales  8.380849          10.0        5000       11548.000000
1      low_sales  8.179126          10.0           1         442.263743
2   medium_sales  8.597022          11.0        1000         520.000000

In [67]:
### Ex-8-Task-2
group_df = None
## Calculate the Coefficient of Variation of each sales category
### BEGIN SOLUTION 
# YOUR CODE HERE
# Define a function to calculate CV (std/mean)
def coef_variation(x):
    return x.std() / x.mean()

# Group by sales_category and calculate CV for each numeric column of interest
cv_stats = product.groupby('sales_category').agg({
    'price': coef_variation,
    'retail_price': coef_variation,
    'units_sold': coef_variation,
    'rating_five_count': coef_variation
}).reset_index()

print(cv_stats)### END SOLUTION

  sales_category     price  retail_price  units_sold  rating_five_count
0     high_sales  0.390999      1.414904    1.069442           1.193508
1      low_sales  0.554215      1.225092    0.339066           2.542784
2   medium_sales  0.432905      1.270781    0.000000           0.792245

In [69]:
### Ex-8-Task-3
#df_product['price_zscore'] = None
## Calculate the Z_score of price for each sales category
### BEGIN SOLUTION 
# YOUR CODE HERE
# Calculate Z-score of price within each sales category
product['price_z_score'] = product.groupby('sales_category')['price'].transform(
    lambda x: (x - x.mean()) / x.std()
)

print(product[['sales_category', 'price', 'price_z_score']].head(10))
### END SOLUTION

  sales_category  price  price_z_score
0      low_sales  16.00       1.725323
1     high_sales   8.00      -0.116222
2      low_sales   8.00      -0.039516
3     high_sales   8.00      -0.116222
4      low_sales   2.72      -1.204310
5      low_sales   3.92      -0.939584
6     high_sales   7.00      -0.421388
7   medium_sales  12.00       0.914362
8      low_sales  11.00       0.622299
9     high_sales   5.78      -0.793691

## Merging

In [75]:
### Ex-9-Task-1
merged_df = None
# Merge the sales and product dataframe and delete all the non common entries. Merge two dataframe based on merchant id.
### BEGIN SOLUTION 
# YOUR CODE HERE
pd.read_csv("/home/sandeep/data_wr/pandas/computed_insight_success_of_active_sellers (1).csv")
merged_df = pd.merge(sales, product, how='inner', left_on='merchantid', right_on='merchant_id')
print(merged_df.head())

### END SOLUTION

                 merchantid  listedproducts  totalunitssold  \
0  5357bcf2bb72c5504882e889               2          120000
1  5357bcf2bb72c5504882e889               2          120000
2  5708773c3c02161b3f8c7900               5          107100
3  5708773c3c02161b3f8c7900               5          107100
4  5708773c3c02161b3f8c7900               5          107100

   meanunitssoldperproduct  rating_x  merchantratingscount  meanproductprices  \
0                  60000.0     4.219              320031.0               9.00
1                  60000.0     4.219              320031.0               9.00
2                  21420.0     3.934              139223.0               7.76
3                  21420.0     3.934              139223.0               7.76
4                  21420.0     3.934              139223.0               7.76

   meanretailprices  averagediscount  meandiscount  ...  \
0              20.0             54.0          54.0  ...
1              20.0             54.0          54.0  ...
2              34.2             61.0          61.0  ...
3              34.2             61.0          61.0  ...
4              34.2             61.0          61.0  ...

   merchant_rating_count  merchant_rating               merchant_id  \
0                 320031         4.218866  5357bcf2bb72c5504882e889
1                 320031         4.218866  5357bcf2bb72c5504882e889
2                 139223         3.933581  5708773c3c02161b3f8c7900
3                 139223         3.933581  5708773c3c02161b3f8c7900
4                 139223         3.933581  5708773c3c02161b3f8c7900

  merchant_has_profile_picture  \
0                            1
1                            1
2                            0
3                            0
4                            0

                            merchant_profile_picture  \
0  https://s3-us-west-1.amazonaws.com/sweeper-pro...
1  https://s3-us-west-1.amazonaws.com/sweeper-pro...
2                                                NaN
3                                                NaN
4                                                NaN

                                       product_url  \
0  https://www.wish.com/c/567cb0925ff12c4829f07dfb
1  https://www.wish.com/c/572981a997dc5f5d3c5f0651
2  https://www.wish.com/c/5b07a7c6e997b33c6f9947da
3  https://www.wish.com/c/5e9692898a10221b310986c9
4  https://www.wish.com/c/5cece16810467a5f254abaa9

                                     product_picture  \
0  https://contestimg.wish.com/api/webimage/567cb...
1  https://contestimg.wish.com/api/webimage/57298...
2  https://contestimg.wish.com/api/webimage/5b07a...
3  https://contestimg.wish.com/api/webimage/5e969...
4  https://contestimg.wish.com/api/webimage/5cece...

                 product_id   theme  crawl_month
0  567cb0925ff12c4829f07dfb  summer      2020-08
1  572981a997dc5f5d3c5f0651  summer      2020-08
2  5b07a7c6e997b33c6f9947da  summer      2020-08
3  5e9692898a10221b310986c9  summer      2020-08
4  5cece16810467a5f254abaa9  summer      2020-08

[5 rows x 56 columns]

# Data Wrangling End to End

## Data Cleaning

#### Features and Columns 
The data was scraped in the french localisation (hence some non-ascii latin characters such as « é » and « à ») in the title column.

The title_orig on the other hand contains the original title (the base title) that is displayed by default. When a translation is provided by the seller, it appears in the title column. When the title and title_orig columns are the same, it generally means that the seller did not specify a translation that would be displayed to users with french settings.

A picture is worth a thousand words. In the following screenshot you see some features and how to interpret them.

![](wish_viz.jpg)

In [76]:
### Ex-10-Task-1
df = None 
# Read the product data frame with rating and performance 
### BEGIN SOLUTION 
# YOUR CODE HERE
product = pd.read_csv("/home/sandeep/data_wr/pandas/summer-products-with-rating-and-performance_2020-08 (1).csv")
print(product.head())### END SOLUTION

                                               title  \
0  2020 Summer Vintage Flamingo Print  Pajamas Se...
1  SSHOUSE Summer Casual Sleeveless Soirée Party ...
2  2020 Nouvelle Arrivée Femmes Printemps et Été ...
3  Hot Summer Cool T-shirt pour les femmes Mode T...
4  Femmes Shorts d'été à lacets taille élastique ...

                                          title_orig  price  retail_price  \
0  2020 Summer Vintage Flamingo Print  Pajamas Se...  16.00            14
1   Women's Casual Summer Sleeveless Sexy Mini Dress   8.00            22
2  2020 New Arrival Women Spring and Summer Beach...   8.00            43
3  Hot Summer Cool T Shirt for Women Fashion Tops...   8.00             8
4  Women Summer Shorts Lace Up Elastic Waistband ...   2.72             3

  currency_buyer  units_sold  uses_ad_boosts  rating  rating_count  \
0            EUR         100               0    3.76            54
1            EUR       20000               1    3.45          6135
2            EUR         100               0    3.57            14
3            EUR        5000               1    4.03           579
4            EUR         100               1    3.10            20

   rating_five_count  ...  merchant_rating_count  merchant_rating  \
0               26.0  ...                    568         4.128521
1             2269.0  ...                  17752         3.899673
2                5.0  ...                    295         3.989831
3              295.0  ...                  23832         4.020435
4                6.0  ...                  14482         4.001588

                merchant_id  merchant_has_profile_picture  \
0  595097d6a26f6e070cb878d1                             0
1  56458aa03a698c35c9050988                             0
2  5d464a1ffdf7bc44ee933c65                             0
3  58cfdefdacb37b556efdff7c                             0
4  5ab3b592c3911a095ad5dadb                             0

   merchant_profile_picture                                      product_url  \
0                       NaN  https://www.wish.com/c/5e9ae51d43d6a96e303acdb0
1                       NaN  https://www.wish.com/c/58940d436a0d3d5da4e95a38
2                       NaN  https://www.wish.com/c/5ea10e2c617580260d55310a
3                       NaN  https://www.wish.com/c/5cedf17ad1d44c52c59e4aca
4                       NaN  https://www.wish.com/c/5ebf5819ebac372b070b0e70

                                     product_picture  \
0  https://contestimg.wish.com/api/webimage/5e9ae...
1  https://contestimg.wish.com/api/webimage/58940...
2  https://contestimg.wish.com/api/webimage/5ea10...
3  https://contestimg.wish.com/api/webimage/5cedf...
4  https://contestimg.wish.com/api/webimage/5ebf5...

                 product_id   theme crawl_month
0  5e9ae51d43d6a96e303acdb0  summer     2020-08
1  58940d436a0d3d5da4e95a38  summer     2020-08
2  5ea10e2c617580260d55310a  summer     2020-08
3  5cedf17ad1d44c52c59e4aca  summer     2020-08
4  5ebf5819ebac372b070b0e70  summer     2020-08

[5 rows x 43 columns]

There are total 43 columns. Let's try to reduce the number. 

#### Some considerations:
- Excluded product color and size because it's just showing the ones that were found in getting the data : there are more colors and sizes for each product so having just one for each category doesn't say much.
- Excluded currency used, as every price is in EUR
- Excluded shipping option, the "shipping_is_express" column is enough.
- Excluded product's and merchant's id's and pictures, that won't be needed.
- Use only original title

After removal of column, it must only have these columns. 

'title_orig', 'price', 'retail_price',
'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
'rating_five_count', 'rating_four_count', 'rating_three_count',
'rating_two_count', 'rating_one_count', 'badges_count',
'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
'tags', 'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
'inventory_total', 'has_urgency_banner',
'merchant_rating_count', 'merchant_rating',
'merchant_has_profile_picture'

In [79]:
### Ex-10-Task-2
df = pd.read_csv("/home/sandeep/data_wr/pandas/summer-products-with-rating-and-performance_2020-08 (1).csv")
df = df[['title_orig', 'price', 'retail_price',
        'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'shipping_option_price','shipping_is_express', 'countries_shipped_to',
        'has_urgency_banner','merchant_rating_count', 'merchant_rating','merchant_has_profile_picture',
        ]]

# print(df.info())
# print(df.isna().sum())
# print(df['has_urgency_banner'].value_counts())
# Check the data frame information, total no. of null entries in each columns and has_urgency_banner columns counts
# After loading the data we se we have 1573 entries and some null values, let's see what some of them are about:
# - Exactly 45 for rating counts from 1 to 5 star, could it be that there are products with no ratings at all?
# - 1100 null values in the has urgency banner : the values there are 1's so the null values should be turned into 0's
# Now, Rename the columns 'has_urgency_banner' to 'is_running_out' and 'title_orig' to 'title' to make it more clear.
# **Fix the runing out column. fill all the null values with 0's.
### BEGIN SOLUTION 
# YOUR CODE HERE
# Assuming df is already loaded with your product data

# Check basic info and null counts
print(df.info())
print(df.isna().sum())

# Check the counts in 'has_urgency_banner'
print(df['has_urgency_banner'].value_counts(dropna=False))

# Fill null values in 'has_urgency_banner' with 0 (meaning no urgency banner)
df['has_urgency_banner'] = df['has_urgency_banner'].fillna(0)

# Rename columns for clarity
df = df.rename(columns={'has_urgency_banner': 'is_running_out', 'title_orig': 'title'})

# Confirm changes
print(df['is_running_out'].value_counts())
print(df.columns)
### END SOLUTION

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title_orig                    1573 non-null   object
 1   price                         1573 non-null   float64
 2   retail_price                  1573 non-null   int64
 3   units_sold                    1573 non-null   int64
 4   uses_ad_boosts                1573 non-null   int64
 5   rating                        1573 non-null   float64
 6   rating_count                  1573 non-null   int64
 7   rating_five_count             1528 non-null   float64
 8   rating_four_count             1528 non-null   float64
 9   rating_three_count            1528 non-null   float64
 10  rating_two_count              1528 non-null   float64
 11  rating_one_count              1528 non-null   float64
 12  badges_count                  1573 non-null   int64
 13  badge_local_product           1573 non-null   int64
 14  badge_product_quality         1573 non-null   int64
 15  badge_fast_shipping           1573 non-null   int64
 16  tags                          1573 non-null   object
 17  shipping_option_price         1573 non-null   int64
 18  shipping_is_express           1573 non-null   int64
 19  countries_shipped_to          1573 non-null   int64
 20  has_urgency_banner            473 non-null    float64
 21  merchant_rating_count         1573 non-null   int64
 22  merchant_rating               1573 non-null   float64
 23  merchant_has_profile_picture  1573 non-null   int64
dtypes: float64(9), int64(13), object(2)
memory usage: 295.1+ KB
None
title_orig                         0
price                              0
retail_price                       0
units_sold                         0
uses_ad_boosts                     0
rating                             0
rating_count                       0
rating_five_count                 45
rating_four_count                 45
rating_three_count                45
rating_two_count                  45
rating_one_count                  45
badges_count                       0
badge_local_product                0
badge_product_quality              0
badge_fast_shipping                0
tags                               0
shipping_option_price              0
shipping_is_express                0
countries_shipped_to               0
has_urgency_banner              1100
merchant_rating_count              0
merchant_rating                    0
merchant_has_profile_picture       0
dtype: int64
has_urgency_banner
NaN    1100
1.0     473
Name: count, dtype: int64
is_running_out
0.0    1100
1.0     473
Name: count, dtype: int64
Index(['title', 'price', 'retail_price', 'units_sold', 'uses_ad_boosts',
       'rating', 'rating_count', 'rating_five_count', 'rating_four_count',
       'rating_three_count', 'rating_two_count', 'rating_one_count',
       'badges_count', 'badge_local_product', 'badge_product_quality',
       'badge_fast_shipping', 'tags', 'shipping_option_price',
       'shipping_is_express', 'countries_shipped_to', 'is_running_out',
       'merchant_rating_count', 'merchant_rating',
       'merchant_has_profile_picture'],
      dtype='object')

#### Check if all the 45 null values for all rating columns belong to same product.
- Get the dataframe for which rating_five_count have null values
- Then, Count the no. of null values for four, three, two and one rating column.

Conclusion: As expected we see the null values in the rating are actually of the same 45 products

In [80]:
### Ex-10-Task-3
df[df['rating_five_count'].isna()][['rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count']].isna().sum()
df[df['rating_five_count'].isna()].head()
# They seem to be having a rating of 5 even with no ratings: we are going to change the rating and all the rating counts to 0
### BEGIN SOLUTION 
# YOUR CODE HERE
# Condition: rating == 5 and all rating counts == 0
condition = (
    (df['rating'] == 5) &
    (df['rating_five_count'] == 0) &
    (df['rating_four_count'] == 0) &
    (df['rating_three_count'] == 0) &
    (df['rating_two_count'] == 0) &
    (df['rating_one_count'] == 0)
)

# For rows matching the condition, set rating and all rating counts to 0
df.loc[condition, ['rating', 'rating_five_count', 'rating_four_count', 
                  'rating_three_count', 'rating_two_count', 'rating_one_count']] = 0

# Optional: check how many rows were updated
print(f"Rows updated: {condition.sum()}")

# Check a few corrected rows
print(df.loc[condition].head())
### END SOLUTION

Rows updated: 0
Empty DataFrame
Columns: [title, price, retail_price, units_sold, uses_ad_boosts, rating, rating_count, rating_five_count, rating_four_count, rating_three_count, rating_two_count, rating_one_count, badges_count, badge_local_product, badge_product_quality, badge_fast_shipping, tags, shipping_option_price, shipping_is_express, countries_shipped_to, is_running_out, merchant_rating_count, merchant_rating, merchant_has_profile_picture]
Index: []

[0 rows x 24 columns]

## Data Exploration

```df['units_sold'].unique()```

It seems like they are all numbers approximated to their lower bound. So let's pretend they are divided in ranges like this:

- 10-100
- 100-1000
- 1000-5000
- 5000-10000
- 10000-20000
- 20000-50000
- 50000-100000
- 100000+

Let's define 3 performance characteristics:

- Average : 0-1000
- Successful: 1000-20000
- Very Successful 20000+

Find the percentage of product belongs to each category.
Steps:
1. First find the performance category and store in performance columns
2. Then, Calculate the percentage of product in each performance category

In [84]:
### Ex-10-Task-4
percentage_of_product_in_each_performance_category = None
### BEGIN SOLUTION 
# YOUR CODE HERE
percentage_of_product_in_each_performance_category = (
    df['performance_category'].value_counts(normalize=True) * 100
)

print(percentage_of_product_in_each_performance_category)
### END SOLUTION

performance_category
high      58.804832
medium    32.358551
low        8.836618
Name: proportion, dtype: float64

## Product Rating and Performance Comparision

Looking at the rating columns I notice two things:

- Some products have a rating count that's too low to be considered, let's only look at products with more than 150 ratings to try to have a fair result
- The rating of the products is a decimal number: let's create another column that categorizes each product into it's rating range.
    - columns are 
        1. < 1 if rating < 1
        2. 1-2 if rating >= 1 and rating < 2
        3. 2-3 if rating >= 2 and rating < 3
        4. 3-4 if rating >= 3 and rating < 4
        5. 4-5 if rating >= 4 and rating < 5
- Create pivot table with performance in index, raiting_range in column and no. of product as values

In [85]:
### Ex-10-Task-5
df_ratings = pd.DataFrame()  ## get records with rating_count > 100
df_ratings['rating_range'] = None
pivot_table = None
### BEGIN SOLUTION 
# YOUR CODE HERE
filtered_df = df[df['rating_count'] > 100]
print(filtered_df)
### END SOLUTION

                                                  title  price  retail_price  \
1      Women's Casual Summer Sleeveless Sexy Mini Dress   8.00            22
3     Hot Summer Cool T Shirt for Women Fashion Tops...   8.00             8
6     Women Fashion Loose Lace Blouse V Neck Bat Sle...   7.00             6
7     Women's Baggy Tunic Dress Summer Dress Denim D...  12.00            11
9     Summer Women Plus Size Casual Loose V Neck Sho...   5.78            22
...                                                 ...    ...           ...
1558  Summer Fashion Women's Jumpsuit Floral Print S...  13.00            11
1560  Women Summer Shirts Plus V Neck Sleeveless Top...   7.00            25
1564  2018 Women fashion Summer Lace Patchwork Tank ...   5.91             5
1567  Sleeveless Solid Color Women Jumpsuit Ladies S...   8.00             7
1568  New Fashion Women Bohemia Dandelion Print Tee ...   6.00             9

      units_sold  uses_ad_boosts  rating  rating_count  rating_five_count  \
1          20000               1    3.45          6135             2269.0
3           5000               1    4.03           579              295.0
6          50000               0    3.84          6742             3172.0
7           1000               0    3.76           286              120.0
9           5000               0    3.60           687              287.0
...          ...             ...     ...           ...                ...
1558       10000               0    4.12          2901             1573.0
1560        5000               0    3.50           774              258.0
1564        1000               0    3.38           414              156.0
1567       20000               1    4.25          3127             1919.0
1568       10000               1    4.08          1367              722.0

      rating_four_count  rating_three_count  ...  badge_fast_shipping  \
1                1027.0              1118.0  ...                    0
3                 119.0                87.0  ...                    0
6                1352.0               971.0  ...                    0
7                  56.0                61.0  ...                    0
9                 128.0                92.0  ...                    0
...                 ...                 ...  ...                  ...
1558              606.0               399.0  ...                    0
1560              176.0               147.0  ...                    0
1564               58.0                72.0  ...                    0
1567              580.0               304.0  ...                    0
1568              293.0               185.0  ...                    0

                                                   tags  \
1     Mini,womens dresses,Summer,Patchwork,fashion d...
3     Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...
6     blouse,Women,lace t shirt,summer t-shirts,Lace...
7     Jeans,Fashion,tunic,Shirt,Summer,Dress,Denim,s...
9     blouse,Summer,Plus Size,Floral print,Necks,Sle...
...                                                 ...
1558  Summer,trousers,Floral print,Fashion,Print,Lon...
1560  shirtsforwomen,Summer,Fashion,Tops & Blouses,S...
1564  blouse,Summer,Vest,Fashion,Women Blouse,sleeve...
1567  bodycon jumpsuits,nightwear,Shorts,slim,Body S...
1568  bohemia,Plus Size,dandelionfloralprinted,short...

      shipping_option_price  shipping_is_express  countries_shipped_to  \
1                         2                    0                    41
3                         2                    0                    41
6                         2                    0                    31
7                         3                    0                   139
9                         2                    0                    33
...                     ...                  ...                   ...
1558                      3                    0                    36
1560                      2                    0                    27
1564                      2                    0                    36
1567                      2                    0                    44
1568                      2                    0                    41

      is_running_out merchant_rating_count  merchant_rating  \
1                1.0                 17752         3.899673
3                0.0                 23832         4.020435
6                0.0                 10194         4.076516
7                0.0                   342         3.681287
9                0.0                  5534         3.999819
...              ...                   ...              ...
1558             1.0                 14502         4.147842
1560             0.0                 11680         4.192894
1564             1.0                 12134         3.866903
1567             0.0                 16803         4.155032
1568             0.0                  5316         4.224605

      merchant_has_profile_picture  performance_category
1                                0                  high
3                                0                  high
6                                1                  high
7                                0                  high
9                                0                  high
...                            ...                   ...
1558                             1                  high
1560                             0                  high
1564                             0                  high
1567                             0                  high
1568                             0                  high

[876 rows x 25 columns]

This table shows that if the product have average rating of 3-4. THen, it is most likely to be successful product.