Show all the customers whose creditLimit is greater than 20000

In [10]:
!pip install mysql-connector-python sqlalchemy pymysql
!pip install mysql-connector-python pandas

Requirement already satisfied: mysql-connector-python in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (9.3.0)
Requirement already satisfied: sqlalchemy in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (2.0.41)
Requirement already satisfied: pymysql in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: greenlet>=1 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from sqlalchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from sqlalchemy) (4.13.2)
Requirement already satisfied: mysql-connector-python in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (9.3.0)
Requirement already satisfied: pandas in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/sandeep/data_wr/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [12]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="YourStrongPasswordHere"  # Replace with your actual password
)

cursor = conn.cursor()

# Create the database if it doesn't exist
cursor.execute("CREATE DATABASE IF NOT EXISTS classicmodels;")

print("Database created (if not existed).")

cursor.close()
conn.close()

Database created (if not existed).

In [18]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="YourStrongPasswordHere",
    database="classicmodels"
)
cursor = conn.cursor()

with open('/home/sandeep/data_wr/sql/mysqlsampledatabase.sql', 'r') as f:
    sql_script = f.read()

# Split the script by semicolon and filter out empty statements
statements = [stmt.strip() for stmt in sql_script.split(';') if stmt.strip()]

for statement in statements:
    try:
        cursor.execute(statement)
    except mysql.connector.Error as err:
        print(f"Error executing statement: {statement[:50]}... Error: {err}")

conn.commit()
cursor.close()
conn.close()

Error executing statement: insert  into products(productCode,productName,prod... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''Turnable front wheels' at line 2
Error executing statement: steering function... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'steering function' at line 1
Error executing statement: detailed interior... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed interior' at line 1
Error executing statement: detailed engine... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed engine' at line 1
Error executing statement: opening hood... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening hood' at line 1
Error executing statement: opening trunk... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening trunk' at line 1
Error executing statement: opening doors... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening doors' at line 1
Error executing statement: and detailed chassis.',7305,'98.58','214.30'),('S1... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and detailed chassis.',7305,'98.58','214.30'),('S10_2016','1996 Moto Guzzi 1100i' at line 1
Error executing statement: steering function... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'steering function' at line 1
Error executing statement: detailed interior... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed interior' at line 1
Error executing statement: detailed engine... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed engine' at line 1
Error executing statement: opening hood... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening hood' at line 1
Error executing statement: opening trunk... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening trunk' at line 1
Error executing statement: opening doors... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening doors' at line 1
Error executing statement: and detailed chassis.',3252,'85.68','136.00'),('S1... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and detailed chassis.',3252,'85.68','136.00'),('S10_4962','1962 LanciaA Delta 16' at line 1
Error executing statement: steering function... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'steering function' at line 1
Error executing statement: detailed interior... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed interior' at line 1
Error executing statement: detailed engine... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed engine' at line 1
Error executing statement: opening hood... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening hood' at line 1
Error executing statement: opening trunk... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening trunk' at line 1
Error executing statement: opening doors... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening doors' at line 1
Error executing statement: and detailed chassis.',6791,'103.42','147.74'),('S... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and detailed chassis.',6791,'103.42','147.74'),('S12_1099','1968 Ford Mustang','' at line 1
Error executing statement: steering function... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'steering function' at line 1
Error executing statement: detailed interior... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed interior' at line 1
Error executing statement: detailed engine... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed engine' at line 1
Error executing statement: opening hood... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening hood' at line 1
Error executing statement: opening trunk... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening trunk' at line 1
Error executing statement: opening doors... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening doors' at line 1
Error executing statement: and detailed chassis.',3619,'95.59','207.80'),('S1... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and detailed chassis.',3619,'95.59','207.80'),('S12_1666','1958 Setra Bus','Truc' at line 1
Error executing statement: steering function... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'steering function' at line 1
Error executing statement: detailed interior... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed interior' at line 1
Error executing statement: detailed engine... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed engine' at line 1
Error executing statement: opening hood... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening hood' at line 1
Error executing statement: opening trunk... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening trunk' at line 1
Error executing statement: opening doors... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening doors' at line 1
Error executing statement: and detailed chassis.',1049,'83.05','173.02'),('S1... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and detailed chassis.',1049,'83.05','173.02'),('S12_3990','1970 Plymouth Hemi Cu' at line 1
Error executing statement: steering function... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'steering function' at line 1
Error executing statement: detailed interior... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed interior' at line 1
Error executing statement: detailed engine... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed engine' at line 1
Error executing statement: opening hood... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening hood' at line 1
Error executing statement: opening trunk... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening trunk' at line 1
Error executing statement: opening doors... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening doors' at line 1
Error executing statement: and detailed chassis.',4724,'101.51','163.73'),('S... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and detailed chassis.',4724,'101.51','163.73'),('S18_2248','1911 Ford Town Car',' at line 1
Error executing statement: steering function... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'steering function' at line 1
Error executing statement: detailed interior... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed interior' at line 1
Error executing statement: detailed engine... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed engine' at line 1
Error executing statement: opening hood... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening hood' at line 1
Error executing statement: opening trunk... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening trunk' at line 1
Error executing statement: opening doors... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'opening doors' at line 1
Error executing statement: and detailed chassis.',6600,'98.30','140.43'),('S2... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and detailed chassis.',6600,'98.30','140.43'),('S24_3949','Corsair F4U ( Bird Ca' at line 1
Error executing statement: detailed 409 cubic-inch engine... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'detailed 409 cubic-inch engine' at line 1
Error executing statement: chrome dashboard and stick shift, two-tone interio... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'chrome dashboard and stick shift, two-tone interior' at line 1
Error executing statement: working steering system... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'working steering system' at line 1
Error executing statement: all topped of with a factory baked-enamel finish.'... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'all topped of with a factory baked-enamel finish.',7869,'32.33','80.84'),('S32_1' at line 1
Error executing statement: insert  into orders(orderNumber,orderDate,required... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''This order was disputed, but resolved on 11/1/2003' at line 2
Error executing statement: Customer doesn\'t like the colors and precision of... Error: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Customer doesn\'t like the colors and precision of the models.',452),(10165,'200' at line 1
Error executing statement: insert  into orderdetails(orderNumber,productCode,... Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`classicmodels`.`orderdetails`, CONSTRAINT `orderdetails_ibfk_1` FOREIGN KEY (`orderNumber`) REFERENCES `orders` (`orderNumber`))

In [21]:
SELECT * 
FROM customers
WHERE creditLimit > 20000;

SyntaxError: invalid syntax (3991381786.py, line 1)

Show the employees who report to VP Sales.

Find all the customers who have set their state while filling the forms and Lives in USA
and credit limit is between 100000 and 200000.

Find all the employees who report to Sales Managers of all types.

Find the average credit limit of customers of each country

Find the total no. of orders for each date and customer. Show only dates with total
number of orders greater than 10 for date and customer.

Find the name of the supervisor, job title of supervisor and total no. of supervisee using
subquery. (With out using Join operation)

Find the name of the supervisor, job title of supervisor and total no. of supervisee using
subquery. (With using Join operation)

Find all customers with a credit limit greater than average credit credit limit using WITH
Clause.

 Find the rank of customer. [Customer with highest credit limit have 1 rank and Customer
with lowest credit limit have highest rank]. Then, find the customer with the third highest
credit limit.

Generate a report that shows total no. of employees working in each office.

 Generate a report that shows total no. of customers visited each office

Generate a report that shows total payment received by each office using payment
tables and essential tables. The report should show the office name, state and country,
along with total payments made

 Generate a report that shows total sales(in amount) by each office using order details
table and other essential tables.

Generate a report that shows total payment pending for each office

Find the creditLimit of each person, proportion of creditLimit of each person in each
country. [Proportion of person in USA = creditLimit of that person / sum(creditLimit of all
person in USA]

Create a view showing the customer name, complete address, and their total number of
orders.

 Update the country of a customer (use any one record).

Delete all payments below 20,000.

Add new payments manually for an existing customer.